.footer{
    text-align: center;
    /* border-top: 0.1rem solid var(--border-color);  */
}

.footer__share{
    padding-bottom: 1rem;
}

.footer__share-icon{
    height: 3.3rem;
    width: 3.3rem;
    border-radius: 50%;
    font-size: 1.5rem;
    margin-left: .3rem;
    margin-right: .3rem;
}

.footer__share-icon:hover{
    transform: scale(1.05);
}

.footer__info{
    font-size: 1.2rem;
    color: var(--font-black);
    font-weight: lighter;
}