<section class="footer">

    <div class="footer__share">      
        <a href="#" target="_blank">
            <img class="footer__share-icon" src="./assets/images/facebook.png" alt="facebook">
        </a>
        <a href="#" target="_blank">
            <img class="footer__share-icon" src="./assets/images/instagram.png" alt="instagram">
        </a>
        <a href="#" target="_blank">
            <img class="footer__share-icon" src="./assets/images/pinterest.png" alt="pinterest">
        </a>
        <a href="#" target="_blank">
            <img class="footer__share-icon" src="./assets/images/twitter.png" alt="twitter">
        </a>
    </div>

    <div class="footer__info">created by me</div>
</section>
