<section class="register">

    <h3 class="heading">registration</h3>
    
    <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
        <div class="register__inputBox">

            <span class="register__inputBox-icon material-symbols-outlined">
                mail
            </span>

            <input 
                name="username"                  
                [(ngModel)]="model.username" 
                class="register__inputBox-inputfield" 
                type="text"
                placeholder="Username"
                required
                #username="ngModel"
            >
        </div>

        <div *ngIf="username.invalid && username.touched" class="register__error">
            <small *ngIf="username.errors?.['required']">Username is required.</small>
        </div>

        <div class="register__inputBox">
            <span class="register__inputBox-icon material-symbols-outlined">
                lock
            </span>

            <input 
                name="password"                  
                [(ngModel)]="model.password" 
                class="register__inputBox-inputfield" 
                type="password" 
                placeholder="Password"
                required
                minlength="6"
                #password="ngModel"
            >
        </div>

        <div *ngIf="password.invalid && password.touched" class="register__error">
            <small *ngIf="password.errors?.['required']">Password is required.</small>
            <small *ngIf="password.errors?.['minlength']">Password must be at least 6 characters long.</small>
        </div>

        <input type="submit" value="create your account" class="btn" [disabled]="registerForm.invalid">
    </form>
    
</section>