
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
}

.header__logo-img{
    height: 6rem;
}

.header__icons-icon{
    color: var(--font-white);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header__icons-icon:hover{
    color: var(--font-orange);
}



