.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: 0.2rem solid var(--border-color);   
}

.header__logo-img{
    height: 4.5rem;
}

.header__icons-icon{
    color: var(--font-black);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header__icons-icon:hover{
    color: var(--font-orange);
}



